[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

awsebcli = "*"


[packages]

django = "==1.11.13"
mysqlclient = "*"
pillow = "*"
django-environ = "*"
django-grappelli = "*"
uwsgi = "*"
gevent = "*"
