container_commands:
  01_migratedb:
    command: "django-admin.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "django-admin.py collectstatic --noinput"
  03_createsuperuser:
    command: "(echo \"import os\"; echo \"from django.contrib.auth import get_user_model\"; echo \"UserModel = get_user_model()\"; echo \"if not UserModel._default_manager.filter(username='admin').exists(): UserModel._default_manager.create_superuser(**dict(username='admin',email='admin@example.com',password=os.environ['SECRET_KEY'][:8]));\") | django-admin.py shell"
    leader_only: true

option_settings:
  - option_name: DJANGO_SETTINGS_MODULE
    value: ebsample.settings
  - namespace: aws:elasticbeanstalk:container:python
    option_name: NumProcesses
    value: 3
  - namespace: aws:elasticbeanstalk:container:python
    option_name: NumThreads
    value: 20
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: ebsample/wsgi.py
  - namespace: aws:elasticbeanstalk:command
    option_name: Timeout
    value: 600
