container_commands:
  01_syncdb:
    command: "/opt/python/run/venv/bin/python /opt/python/run/venv/bin/django-admin.py syncdb --noinput"
    leader_only: true
  02_collectstatic:
    command: "/opt/python/run/venv/bin/python /opt/python/run/venv/bin/django-admin.py collectstatic --noinput"
    leader_only: true

option_settings:
  - option_name: DJANGO_SETTINGS_MODULE
    value: ebsample.settings
  - namespace: aws:elasticbeanstalk:container:python
    option_name: NumProcesses
    value: 3
  - namespace: aws:elasticbeanstalk:container:python
    option_name: NumThreads
    value: 20
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: ebsample/wsgi.py
