{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160265-10"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-160265-10');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="@wolfg1969">
    <meta name="keywords" content="django,uwsgi,nginx,django-sample,python,aws,elasticbeanstalk,ebextensions">
    <meta name="description" content="A Django sample app running with uWSGI and Nginx on AWS Elastic Beanstalk.">
    <title>elastic beanstalk nginx uwsgi django</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="container-fluid">

    <div>
        <h1>elastic-beanstalk-nginx-uwsgi-django</h1>
        <p class="lead">A Django sample app running with uWSGI and Nginx on AWS Elastic Beanstalk.</p>

        <div class="row">
            <div class="logo col-md-2 col-xs-12">
                <a href="http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/customize-containers-ec2.html" target="_blank">
                    <img src="{% static 'images/Elastic-Beanstalk.png' %}" class="img-responsive" alt="Elastic Beanstalk" title="Elastic Beanstalk">
                </a>
            </div>
            <div class="logo col-md-2 col-xs-12">
                <a href="http://nginx.org/" target="_blank">
                    <img src="{% static 'images/nginx.png' %}" class="img-responsive" alt="nginx" title="nginx">
                </a>
            </div>
            <div class="logo col-md-2 col-xs-12">
                <a href="https://uwsgi-docs.readthedocs.io/en/latest/" target="_blank">
                    <img src="{% static 'images/uwsgi.png' %}" class="img-responsive" alt="The uWSGI project" title="The uWSGI project">
                </a>
            </div>
            <div class="logo col-md-2 col-xs-12">
                <a href="https://www.djangoproject.com/" target="_blank">
                    <img src="{% static 'images/django.png' %}" class="img-responsive" alt="Django" title="Django">
                </a>
            </div>
        </div>
    </div>

    <a href="https://github.com/wolfg1969/elastic-beanstalk-nginx-uwsgi-django">
        <img id="fork-me" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png">
    </a>

    <div>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-format="fluid"
             data-ad-layout-key="-fd+68+1f-g0+oz"
             data-ad-client="ca-pub-4614826776555240"
             data-ad-slot="1172569386"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

</div>

</body>
</html>
